<ion-view view-title="Dashboard">   <!-- ion view = MAIN -->

  <ion-content class="container">

      <section class="ArtImg col-xs-12 col-sm-8 col-sm-offset-2">
        <img src="http://i87.photobucket.com/albums/k160/BunnyWurb/giffy%204/tumblr_mmr7guy7WN1rju4jco1_500_zpsaec9c1fe.jpg" class="img-responsive center-block" alt="">
      </section>
      <article class="ArtCont col-xs-12 col-sm-6 col-sm-offset-3">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
               Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button type="button" class="btn btn-primary center-block" ng-click="openModal()" >Mike</button>
          <button type="button" class="btn btn-primary center-block" ng-click="openModal2()" >Le lépreux</button>
          <button type="button" class="btn btn-primary center-block" ui-sref="Mike" >!!!</button>
      </article>
  </ion-content>
</ion-view>
